main{
  display: flex;
}
#iconContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  
}
.iconText{
  color: gray;
  font-weight: 100;
}
.zigzagBox{
  background-color: #29B712;
}
.leftSection{
  margin: 3rem;
  width: 40%;
}
.posts{
  display: flex;
  justify-content: space-around;
    text-align: center;
}
.paraCount{
  font-size: 2rem;
}
.posts1{
  border-left: 1px solid #bfabab;
    height: 62px;
    /* padding: 5px; */
    padding-left: 21px;}
.paraContent{
  color: gray;
  font-size: 13px;
}
button{
  width: 109%;
    border: 1px solid #dbc8c8;
    padding: 5px;
    background-color: transparent;
    border-radius: 4px;
}
.upperContent{
  text-align: center;
}
.files{
  text-align: -webkit-auto;
    /* padding: 1rem 1rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.fileContent{
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d5cbcb;
  padding: -9px;
  
  margin-bottom: 5px;
  padding: 9px;
  width: 126%;

}
.navBarContent{
  display: flex;
        flex-direction: column;
        border: 1px solid grey;
        height: 500px
}
.flexContainer{
  display: flex;
}
.sideContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: initial;

}
.info{
  font-size: 15px;
}
/* .address{
  margin-top: -7rem;
} */
.options{
  height: fit-content;
  border-radius: 3px;
  display: flex;
  width: 30rem;
  background: #ebe4e4;
  align-items: center;
  padding: 5px;
  margin: 4rem;
}
.testingButton{
  padding: 3px;
    border-radius: 3px;
}
.head{
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
    border-bottom: 1px solid #c3aeae;
    padding-bottom: 12px;
}
.lowerComponent{
  width: 35rem;
  background: #e5dede;
  padding: 11px;
  border-radius: 3px;
  height: fit-content;
}
.bodyUpper{
  display: flex;
    justify-content: space-between;
    background: white;
    margin-top: 7px;
    border-radius: 3px;
    align-items: center;
    padding: 16px;
}
.container{
  padding: 1.5rem;
  border-bottom: 1px solid grey;
}